# =========================
# DATASETS (VERY IMPORTANT)
# =========================
data/
*.txt
*.csv
*.json

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
env/
.venv/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# MODEL FILES
# =========================
*.pt
*.pth
*.ckpt
checkpoints/
weights/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp